@import "../variables.scss";

//History table
.history-breakdown {
  margin: 5px 0;

  .radio-group {
    width: 25%;
  }
  .history-breakdown__table {
    width: 100%;
  }
}

.season > .history-breakdown-header {
  th:not(:first-child) {
    width: 25%;
  }
}

.history-breakdown-body {

  &__row {
    td:not(.history-breakdown-body__month-title) {
      text-align: center;
    }
  }

  &__row.year-breakdown, &__row.month-breakdown {
    border-spacing: 0;
    &:hover {
      background: lighten($history-table-cell-background, $lighten-percentage);
      color: $history-table-cell-constrast;
      a {
        color: $history-table-cell-constrast;
      }
    }
  }

  &__data-cell {
    width: calc(100% / 12); //25px;
    border: 1px solid $history-table-cell-border;
    cursor: pointer;
    button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: none;
      padding: 0;
      border: none;
      appearance: none;
      cursor: pointer;
    }
    &__background {
      width: 100%;
      height: 100%;
      background: $history-table-cell-background;
    }
  }
  &__year-statistic, &__month-title {
    padding-left: 5px;
    text-align: left;
  }
}
