@import "../variables.scss";

// History detail
.history-detail {
  margin: 20px 10px;

  h2 {
    padding: 5px;
    margin: 10px 5px;
    text-align: left;
  }

  .history-detail-list {
    width: 50%;
  }

  .history-detail-breakdown {
    margin-left: auto;
    label {
      margin: 2px;
    }
    li {
      display: flex;
      justify-content: space-between;
    }
  }

  a {
    width: 75%;
    text-align: left;
  }

}

// Sorting
.sort {
  line-height: 1;

  &::after {
    content: "";
    margin-left: 15px;
    font-size: 1.2rem;
  }

  &.sort {
    &--asc::after {
      content: "\25B2";
    }
    &--desc::after {
      content: "\25BC";
    }
  }
}
