@import "./variables.scss";

// season colouring for year breakdown

@each $key, $colour in $season-colours {

  // history table headers
  .season.year th.#{$key} {
    background-color: $colour;
    color: $white;
  }

  // history detail rows
  .year-breakdown tr.#{$key}:hover {
    background-color: $colour !important;
    color: $white !important;

    a {
      background-color: inherit !important;
      color: inherit !important;
    }
  }

  // season key
  .key-entry.#{$key} {
    border: 1px solid $colour;
    .colour-block {
      background-color: $colour;
    }
  }

}
