@import './variables.scss';

// season colouring for year breakdown

@each $key, $colour in $season-colours {
  // history detail rows
  .year-breakdown tr.#{$key}:hover {
    background-color: $colour !important;
    color: $white !important;

    a {
      background-color: inherit !important;
      color: inherit !important;
    }
  }
}
