$teal: #008080;
$white: #fff;
$black: #000;
$grey80: #ccc;
$grey73: #bbb;
$green: #0f0;
$red: #f00;
$blue: #00f;
$gold: #fc0;
$silver: #ccc;
$bronze: #c63;

$steel-blue: #4682b4;
$forest-green: #228b22;
$orange-red: #ff4500;
$golden-rod: #daa520;
$dark-golden-rod: #b8860b;
$auburn: #a52a2a;

$rating-colours: (
  "onhold": $blue,
  "completed": $red,
  "ongoing": $green,
  "planned": $grey73,
  "ten": $gold,
  "nine": $gold,
  "eight": $silver,
  "seven": $silver,
  "six": $bronze,
  "five": $bronze,
  "four": $bronze,
  "three": $black,
  "two": $black,
  "one": $black,
  "unrated": $teal
);

$season-colours: (
  "winter": $steel-blue,
  "spring": $forest-green,
  "summer": $orange-red,
  "fall": $auburn
);

$history-table-cell-background: $black;
$history-table-cell-border: $black;

$history-table-cell-constrast: $white;

//z-index
$z-index: (
  wafer: 1,
  above-siblings: 10,
  header: 50,
  popover: 100,
  menu: 250
);

$lighten-percentage: 10%;

// temporary!
$primary-colour: $red;
