$test-colour: #293c4b;
$white: #fff;
$black: #000;
$green: #0f0;
$red: #f00;
$blue: #00f;

$colours: $green $red $blue;


$history-table-cell-background: $black;
$history-table-cell-border: $black;

//z-index
$z-index: (
  wafer: 1,
  above-siblings: 10,
  header: 50,
  popover: 100,
  menu: 250
);
