$teal: #008080;
$white: #fff;
$black: #000;
$grey80: #ccc;
$green: #0f0;
$red: #f00;
$blue: #00f;
$gold: #fc0;
$silver: #ccc;
$bronze: #c63;


$rating-colours: (
  "onhold": $blue,
  "completed": $red,
  "ongoing": $green,
  "ten": $gold,
  "nine": $gold,
  "eight": $silver,
  "seven": $silver,
  "six": $bronze,
  "five": $bronze,
  "four": $bronze,
  "three": $black,
  "two": $black,
  "one": $black,
  "unrated": $teal
);

$history-table-cell-background: $black;
$history-table-cell-border: $black;

//z-index
$z-index: (
  wafer: 1,
  above-siblings: 10,
  header: 50,
  popover: 100,
  menu: 250
);

// temporary!
$primary-colour: $red;
