@import "./_variables.scss";

body {
  font: {
    family: 'Roboto', monospace;
    size: 16px;
  }
  margin: 0;
  text-align: center;
  color: $test-colour;
}

#satellizer {
  padding: 50px 5px 5px;
}

#status-container {
  margin-top: 10px;
}

// Progress bar
.percentage-breakdown {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 30px;
  width: 100%;

  .percentage-breakdown__bar {
    height: 100%;

    @for $i from 1 through length($colours) {
      &:nth-child(#{$i}) {
        background: nth($colours, $i);
      }
    }
  }

}

//History table
.history-breakdown {

}
.history-breakdown-header {

}

.history-breakdown-body {
  &__row {

  }
  &__data-cell {
    width: calc(100% / 12); //25px;
    background: $history-table-cell-background;
    border: $history-table-cell-border;
  }
}


/* TEMPORARY STYLE */
.flex-grow {
  flex-grow: 1;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.list-filter {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  padding: 20px 5px;
}
