@import './_variables.scss';

body {
  font: {
    family: 'Roboto', monospace;
    size: 16px;
  }
  margin: 0;
  text-align: center;
  color: $test-colour;
}

img {
  max-width: 200px;
  margin: 20px 0;
}
